* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #1F2937;
    align-items: center;
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
}

.HL {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    text-decoration: none;
    padding-left: 60px;
    margin-right: -20px;
}

nav a {
    background-color: #1F2937;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 18px;
    display: inline;
    margin-left: 40px;
}

.description {
    padding: 110px 200px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.awesome {
    font-size: 48px;
    font: bold;
    color: #e5e7eb;
    font-weight: bolder
}

button {
    width: auto;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #3882F6;
    color: aliceblue;    
}

h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.text {
    margin-right: 15px;
}

img {
    width: 30em;
    height: 14em;
}



.info {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 36px;
    color : #1F2937;
    text-transform: capitalize;
}

.cc  {
    display: flex;
    align-items: center;
    padding: 1px 250px;
}

.p {
    padding: 80px 50px;
    justify-items: center;
    border: solid;
    margin: 10px;
    align-content: center;
    border-radius: 1em;
    border-color: #3882F6;
}

.texto {
    display: flex;
    align-items: center;
    padding: 10px 250px;
}

.t {
    padding: 0px 20px;
    border-radius: 1em;
    justify-content: center;
    align-content: flex-start;
    color: rgb(53, 51, 51);
    font-size: larger;
    font-weight: 500;
    margin-bottom: 60px;
}

.quote {
    padding: 100px 250px ;
    align-content: center;
    background-color: #e5e7eb;
}

.thequote {
    font-size: 46px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align:end;
    padding-right: 50px;
    font-weight: 600;
    font-size: 25px;
    color: #15171a;
}


.signup {
    padding: 100px 150px ;
    justify-items: center;
    align-items: center;
}

.gg{
    background-color: #3882F6;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 0.8em;
}

.first {
    flex: 2;
    color: #e5e7eb;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}


.divsup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sup {
    border: solid #e5e7eb;
    border-radius: 1em;
    align-items: center;
    justify-items: center;
    padding: 10px 30px;
    font-size: larger;
    
}

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 400;
}

