* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    align-items: center;
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
}

.HL {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    text-decoration: none;
    padding-left: 50px;

}

nav a {
    background-color: #1F2937;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 18px;
    display: inline;
    margin-left: 40px;
}

.description {
    padding: 110px 200px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;


}

.awesome {
    font-size: 48px;
    font: bold;
    color: #e5e7eb;
    font-weight: bolder
}

button {
    width: auto;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: #3882F6;
    color: aliceblue;
}

h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.text {
    margin-right: 15px;
}

img {
    width: 30em;
    height: 15em;
}

.random {
    text-align: center;
}

.info {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 36px;
    color : #1F2937;
    text-transform: capitalize;
}
